BOT_TOKEN=
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_DATABASE_ID=
APPWRITE_USERS_COLLECTION=
APPWRITE_ALERTS_COLLECTION=
APPWRITE_SUBSCRIPTIONS_COLLECTION=
APPWRITE_REFERRALS_COLLECTION=
APPWRITE_API_KEY=
ADMIN_TELEGRAM_ID=
